html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    margin-top: 5vh; 
    margin-bottom: 0.5vh; 
    font-size: 4em; 
}

.audio-instruction, .additional-text {
    font-size: 1.5em;
    margin: 1px 0; 
}

.image-with-text {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 5px; 
    margin-bottom: 20px;
  }
  
  .social-icon {
    width: 30px; 
    height: auto; 
    margin-left: 40px;
  }

video {
    max-height: 40vh; 
}

.video-caption {
    font-size: 5em; 
    margin-top: 2vh;
}

.image-with-text img, .image-with-text span {
    cursor: pointer;
  }

  .social-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

.social-link img {
    margin-right: 5px; 
}

.social-link span {
    display: block;
}
